
@media(max-width:768px){
  .mainbg0{ background-image:url('./images/slide1 mobile.png')!important;
  width:100%; height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto 100%;
}
  .mainbg1{ background-image:url('./images/slide2 mobile.png') !important;
  width:100%; height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto 100%;}

  .mainbg2{ background-image:url('./images/slide3 mobile.png') !important;
  width:100%; height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto 100%;}

  .mainSlide .owl-nav {display:none}
  .user_login {display:none;}

  body .navbar-toggler {
    background-color:transparent;
    display:table-cell;
    text-align:right;
    position:absolute;top:0;right:0;
    color:#000;
    z-index:10000
  }

  body .navbar-toggler .xi-bars {font-size:2.5rem;margin:10px}
  body .navbar-toggler span {color:#000}
  body .navbar-toggler .xi-close {display:none}
  body .fix_btn {display:none}
  body .mobile-topBtn {
    display:block;
    font-size:1.5rem;
    position:fixed;
    bottom:0;right:0;
    padding:15px 20px;
    border-radius:70px;
    background-color:#ffb223;
    color:#fff;border:0;
    z-index:1000000
  }
  body .navbar-brand svg {width:130px;}
  #navbarResponsive.show {
    background-color:#fff;
    position:absolute;top:0;right:0;left:30%;padding:20px;padding-top:50px;padding-bottom:100%
  }
  body .dropdown-menu.show {border:0}
  .re_party {display:none}
  .mobile_re_party {display:block;margin-top:20px;text-align:center}
  .mobile_re_party li{display:inline-block;padding:0 10px;}
  .mobile_re_party li a {font-size:1.1rem;padding:15px;color:#000;background-color:#ffdb85;border-radius: 30px}
  .re_party_more {border:0;font-size:1.1rem;padding:15px;color:#000;background-color:#ffdb85;border-radius: 30px}
  .re_party_more .sub_more {background-color:#fff}
  .re_party_more:hover {cursor:pointer}

  .reservation {padding:0;}
  .reservation .res_text dt {font-size:1.1rem;width:130px;vertical-align:middle;}
  .reservation .res_text dd ul {margin:0;vertical-align:middle;}
  .reservation .res_text dd input {width:100px;}
  .reservation .res_text {margin-bottom:0}

  .partyRoom .post-image .img_link {position:absolute; width:100%;height:100%;}
  .partyRoom .post-image .img_link span{display:none;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);font-size:2rem;padding:40px;font-size:1.8rem;border:1px solid #fff;color:#fff;}
  .partyRoom .post-image .img_link:hover {display:block;width:100%;height:100%;background-color:rgba(0,0,0,.5)}
  .partyRoom .post-image .img_link:hover span{display:block;}
  .partyRoom .post-image .img_link span:hover {background-color:#ffaf24}
  .partyRoom .owl-stage-outer .post-subject strong {font-size:1.2rem}
  .partyRoom .owl-nav {display:none}


  .youtube_hash li {display:inline-block;padding:5px 10px;margin:0 5px;background-color:#ffdb85;border-radius: 40px;}
  .youtube_hash li a {font-size:1rem;color:black}
  .youtube_hash li:last-child {display:none}
  .initial_warp p { font-size: 0.8rem;}
  .initial_link a {font-size:1rem}
}


@media(max-width:320px){

  .partyRoom .post-image .img_link span{display:none;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);font-size:1.2rem;padding:15px;font-size:1.8rem;border:1px solid #fff;color:#fff;}
  .mobile_re_party li{display:inline-block;padding:0 5px;}
  .mobile_re_party li a {padding:10px;}
  .re_party_more {border:0;padding:10px;}
  .partyRoom .owl-stage-outer .post-subject strong {font-size:1rem}

}
